<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--- ADD PRODUCTION PCS -->
    <section name="DEFAULT" type="System.Configuration.NameValueSectionHandler" />
    <section name="LINX037" type="System.Configuration.NameValueSectionHandler" />
    <section name="LINX111" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <!--- ANY UNKNOWN MACHINE -->
  <DEFAULT>
    <add key="sqlconnection" value="connect_1" />
    <add key="chemlabelpro_location" value="C:\Program Files (x86)\Safeware\Chemlabel\Chemlabelpro.exe" />
    <add key="debug" value="TEST" />
    <!--- TEMPLATE CONFIGURATION -->
    <add key="boxtemplate" value="C:\templates\XMLBoxLabel-text.lbl" />
    <!-- Box-Sales    -->
    <add key="bottletemplate" value="C:\templates\XMLBottleLabel.lbl" />
    <!-- Bottle-Repack-->
    <add key="bottletemplatemain" value="C:\templates\XMLBottleLabel_M.lbl" />
    <!-- Bottle-Main  -->
    <add key="boxmbtemplate" value="C:\templates\XMLBoxLabel-MB.lbl" />
    <!-- Box-MB       -->
    <add key="boxstocktemplate" value="C:\templates\XML_HJ_box.lbl" />
    <!-- Box-Stock    -->
    <add key="capstemplate" value="C:\templates\XML2DCapLabel.lbl" />
    <!-- Cap          -->
    <add key="89template" value="C:\templates\89XMLBottle.lbl" />
    <!-- Cartridge    -->
    <add key="boxprinter" value="Repack Box Label" />
    <add key="bottleprinter" value="Repack Bottle Label" />
    <!--- SUREFILLCODE CONFIGURATION DIRECTORY -->
    <add key="appPath" value="C:\LinxInk2_01_2_7" />
    <!--- PRINTER CONFIGURATION -->
    <add key="rigpath" value="\\stivessage\csforms\" />
    <add key="RFIDtagpath" value="C:\linx_share\" />
    <add key="xmlwatcherpath" value="C:\xmlwatcher\" />
    <!--- LOGO CONFIGURATION -->
    <add key="logopath" value="C:\templates\" />
  </DEFAULT>
  <!--- SPECIFIC TO LINX037 - C BUCKINGHAM DEVELOPMENT -->
  <LINX037>
    <add key="sqlconnection" value="connect_3" />
    <add key="chemlabelpro_location" value="C:\Program Files (x86)\Safeware\Chemlabel\Chemlabelpro.exe" />
    <add key="debug" value="TEST" />
    <!--- TEMPLATE CONFIGURATION -->
    <add key="boxtemplate" value="C:\templates\XMLBoxLabel-text.lbl" />
    <!-- Box-Sales    -->
    <add key="bottletemplate" value="C:\templates\XMLBottleLabel.lbl" />
    <!-- Bottle-Repack-->
    <add key="bottletemplatemain" value="C:\templates\XMLBottleLabel_M.lbl" />
    <!-- Bottle-Main  -->
    <add key="boxmbtemplate" value="C:\templates\XMLBoxLabel-MB.lbl" />
    <!-- Box-MB       -->
    <add key="boxstocktemplate" value="C:\templates\XML_HJ_box.lbl" />
    <!-- Box-Stock    -->
    <add key="capstemplate" value="C:\templates\XML2DCapLabel.lbl" />
    <!-- Cap          -->
    <add key="89template" value="C:\templates\89XMLBottle.lbl" />
    <!-- Cartridge    -->
    <add key="boxprinter" value="Repack Box Label" />
    <add key="bottleprinter" value="Repack Bottle Label" />
    <!--- SUREFILLCODE CONFIGURATION DIRECTORY -->
    <add key="appPath" value="C:\LinxInk2_01_2_7" />
    <!--- PRINTER CONFIGURATION -->
    <add key="rigpath" value="\\stivessage\csforms\" />
    <add key="RFIDtagpath" value="C:\linx_share\" />
    <add key="xmlwatcherpath" value="C:\xmlwatcher\" />
    <!--- LOGO CONFIGURATION -->
    <add key="logopath" value="C:\templates\" />
  </LINX037>
  <!--- SPECIFIC TO LINX111 - C BUCKINGHAM CHEMLABELPRO + DEVELOPMENT -->
  <LINX111>
    <add key="sqlconnection" value="connect_3" />
    <add key="chemlabelpro_location" value="C:\Program Files (x86)\Safeware\Chemlabel\Chemlabelpro.exe" />
    <add key="debug" value="TEST" />
    <!--- TEMPLATE CONFIGURATION -->
    <add key="boxtemplate" value="C:\templates\XMLBoxLabel-text.lbl" />
    <!-- Box-Sales    -->
    <add key="bottletemplate" value="C:\templates\XMLBottleLabel.lbl" />
    <!-- Bottle-Repack-->
    <add key="bottletemplatemain" value="C:\templates\XMLBottleLabel_M.lbl" />
    <!-- Bottle-Main  -->
    <add key="boxmbtemplate" value="C:\templates\XMLBoxLabel-MB.lbl" />
    <!-- Box-MB       -->
    <add key="boxstocktemplate" value="C:\templates\XML_HJ_box.lbl" />
    <!-- Box-Stock    -->
    <add key="capstemplate" value="C:\templates\XML2DCapLabel.lbl" />
    <!-- Cap          -->
    <add key="89template" value="C:\templates\89XMLBottle.lbl" />
    <!-- Cartridge    -->
    <add key="boxprinter" value="Repack Box Label" />
    <add key="bottleprinter" value="Repack Bottle Label" />
    <!--- SUREFILLCODE CONFIGURATION DIRECTORY -->
    <add key="appPath" value="C:\LinxInk2_01_2_7" />
    <!--- PRINTER CONFIGURATION -->
    <add key="rigpath" value="\\stivessage\csforms\" />
    <add key="RFIDtagpath" value="C:\linx_share\" />
    <add key="xmlwatcherpath" value="C:\xmlwatcher\" />
    <!--- LOGO CONFIGURATION -->
    <add key="logopath" value="C:\templates\" />
  </LINX111>
  <appSettings>
    <!--- SQL SERVER DB NAME -->
    <add key="linxdbname" value="linxmaster" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="SQLServerUserID" value="sa" />
    <add key="SQLServerPassword" value="zKkv2zHbagKtc92hMsPhKOY2uGt4CPc/" />

    <add key="MDAQTest" value="1" />
  </appSettings>

  <connectionStrings>
    <!--- SQL SERVER CONFIGURATION DEV1 and DEV3 -->
    <add name="connect_1" connectionString="Provider=SQLOLEDB;Server=LNXDW1\SQLDW1;Database=linxmaster;" providerName="System.Data.OleDb" />
    <add name="connect_3" connectionString="Provider=SQLOLEDB;Server=LNXDW3\SQLDW3;Database=linxmaster;Integrated Security=SSPI;" providerName="System.Data.OleDb" />
    <!--- NOT IN USE YET-->
    <add name="connect_2" connectionString="Provider=SQLOLEDB;Server=LNXDW2\SQLDW2;Database=linxmaster;Integrated Security=SSPI;" providerName="System.Data.OleDb" />
    <add name="connect_prod" connectionString="Provider=SQLOLEDB;Server=LNXDWPROD\SQLDWPROD;Database=linxmaster;Integrated Security=SSPI;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>